.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0px 12px;

  @media (min-width: 768px) {
    padding: 0px;
  }
}

header {
  padding: 0px 12px;

  @media (min-width: 768px) {
    padding: 0px;
  }
}

.nav-desktop {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;

    ul {
      display: flex;
      gap: 48px;
    }

    ul a {
      padding: 8px;

      &:hover {
        border-bottom: 1px solid #000000;
      }
    }
  }
}

.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;

  .nav-icon {
    display: flex;
    gap: 12px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.banner {
  background-color: #000000;
}

.banner-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  hgroup {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: -163px;

    h1 {
      margin-bottom: 16px;
    }

    .dateline {
      margin-bottom: 4px;
    }

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}